/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Ayu
background=#fafafa
foreground=#5c6773
regular0=#000000
regular1=#ff3333
regular2=#86b300
regular3=#f29718
regular4=#41a6d9
regular5=#f07178
regular6=#4dbf99
regular7=#ffffff
bright0=#323232
bright1=#ff6565
bright2=#b8e532
bright3=#ffc94a
bright4=#73d8ff
bright5=#ffa3aa
bright6=#7ff1cb
bright7=#ffffff
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
  color: #323232;
  border: 0;
  border-radius: 0;
  padding: 0 0;
  font-family: FiraCode Nerd Font;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
  padding-bottom: 3px;
}

window#waybar {
  background: #fafafa;
}

#workspaces button {
  padding: 2px 0px;
  border-bottom: 2px;
  color: #73d8ff;
  border-color: #fafafa;
  border-style: solid;
  margin-top: 2px;
}

#workspaces button.visible {
  border-color: #5c6773;
}

#workspaces button.focused {
  border-color: #41a6d9;
}

#workspaces button.urgent {
  border-color: #ff3333;
}

#mode {
  color: #f29718;
}

#clock,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#window,
#custom-launcher,
#custom-power,
#custom-pacman,
#custom-load,
#custom-swap,
#disk,
#battery,
#custom-fan {
  padding: 0 3px;
  border-bottom: 2px;
  border-style: solid;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
  color: #86b300;
}

#backlight {
  color: #f29718;
}

#battery {
  color: #323232;
}

#battery.charging {
  color: #86b300;
}

@keyframes blink {
  to {
    color: #4c566a;
    background-color: #eceff4;
  }
}

#battery.critical:not(.charging) {
  background: #bf616a;
  color: #eceff4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: #86b300;
}

#memory {
  color: #f07178;
}

#network.disabled {
  color: #f07178;
}

#network {
  color: #41a6d9;
}

#network.disconnected {
  color: #f07178;
}

#pulseaudio {
  color: #86b300;
}

#pulseaudio.muted {
  color: #323232;
}

#temperature {
  color: #41a6d9;
}

#temperature.critical {
  color: #f07178;
}

#idle_inhibitor {
  color: #f29718;
}

#tray {
}

#custom-launcher,
#custom-power {
  border-style: hidden;
  margin-top: 2px;
}

#window {
  border-style: hidden;
  margin-top: 1px;
}
#mode {
  margin-bottom: 3px;
}

#custom-keyboard-layout {
  color: #d08770;
}

tooltip {
  color: black;
  background-color: white;
  text-shadow: none;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

tooltip * {
  color: black;
  text-shadow: none;
}
